body {
    background-color: #0f0f0f;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}
input, button {
    border-radius: 6px;
}
.rasengan-loader {
    width: 150px;
    margin: 20px auto;
}
